extends admin-layout
block content
    h1 Overview

        .container
            .row
                .col-xs-6
                    canvas#myChart(width='200', height='200')
                .col-xs-6
                    canvas#myChart2(width='200', height='200')

        h2 Inventory
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th #
                        th Item ID
                        th Name
                        th Brand
                        th Price
                each item, i in inventory
                    tr
                        td= i+1
                        td= item.id
                        td= item.name
                        td= item.brand
                        td= item.price
                        td
                            a(href="/inventory/edit/" + item.id)
                                i.fa.fa-pencil-square-o.fa-lg
                            a(href="/inventory/delete/" + item.id)
                                i.fa.fa-trash.o.fa-lg
                tr
                    td
                        a(href="/inventory/add")
                                i.fa.fa-plus-circle.fa-lg
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----

        h2 Users
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th #
                        th User ID
                        th First
                        th Last
                        th Wallet
                each user, u in users
                    tr
                        td= u+1
                        td= user.id
                        td= user.first
                        td= user.last
                        td= user.wallet
                        td
                            a(href="/user/edit/" + user.id)
                                i.fa.fa-pencil-square-o.fa-lg
                            a(href="/user/delete/" + user.id)
                                i.fa.fa-trash.o.fa-lg
                tr
                    td
                        a(href="/user/add/")
                                i.fa.fa-plus-circle.fa-lg
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----
        h2 Orders
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Purchase ID
                        th Item ID
                        th Quantity
                        th Purchased Date
                        th Delivery Date

                each order, o in orders
                    tr
                        td= order.pid
                        td= order.iid
                        td= order.qty
                        td= order.pdate
                        td= order.ddate
                        td
                            a(href='/order/edit/' + order.pid)
                                i.fa.fa-pencil-square-o.fa-lg
                            a(href="/order/delete/" + order.pid)
                                i.fa.fa-trash.o.fa-lg
                tr
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----

        h2 Unsold Items
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Item Name
                        th Item ID

                each uns, u in unsold
                    tr
                        td= uns.name
                        td= uns.id

                tr
                    td ----
                    td ----