extends admin-layout
block content
    h1 Overview
        h2 Inventory
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th #
                        th Item ID
                        th Name
                        th Brand
                        th Price
                each item, i in inventory
                    tr
                        td= i+1
                        td= item.id
                        td= item.name
                        td= item.brand
                        td= item.price
                        td
                            a(href="/inventory/edit/" + item.id)
                                span.glyphicon.glyphicon-pencil
                            a(href="/inventory/delete/" + item.id)
                                span.glyphicon.glyphicon-trash
                tr
                    td
                        a(href="/inventory/add")
                                span.glyphicon.glyphicon-plus
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----

        h2 Users
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th #
                        th User ID
                        th First
                        th Last
                        th Wallet
                each user, u in users
                    tr
                        td= u+1
                        td= user.id
                        td= user.first
                        td= user.last
                        td= user.wallet
                        td
                            a(href="/user/edit/" + user.id)
                                span.glyphicon.glyphicon-pencil
                            a(href="/user/delete/" + user.id)
                                span.glyphicon.glyphicon-trash
                tr
                    td
                        a(href="/user/add/")
                                span.glyphicon.glyphicon-plus
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----
        h2 Orders
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Purchase ID
                        th Item ID
                        th Quantity
                        th Purchased Date
                        th Delivery Date

                each order, o in orders
                    tr
                        td= order.pid
                        td= order.iid
                        td= order.qty
                        td= order.pdate
                        td= order.ddate
                        td
                            a(href='/order/edit/' + order.pid)
                                span.glyphicon.glyphicon-pencil
                            a(href="/order/delete/" + order.pid)
                                span.glyphicon.glyphicon-trash
                tr
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----
                    td ----