extends layout
block content
    h1 #{activeuser.userName}'s Cart


    .table-responsive
        table.table-striped
            thead
                th #
                th Name
                th Quantity
                th Price
                th Actions

            - total = 0;
            each item, c in carts
                - itemTotal = item.price * item.qty
                tr
                    td= c+1
                    td= item.name
                    td
                        form(action='/cart-update/' + activeuser.userId method='POST')
                            input(type='text' name='iid' value=item.id hidden)
                            input.qty(type='number' name='qty' value=item.qty)
                            button.btn.btn-warning.cart-button(type='submit')
                                i.fa.fa-check

                    td= itemTotal
                    td
                        a.btn.btn-danger.cart-button(href='/cart-delete/' + item.id)
                            i.fa.fa-trash-o
                    - total = total + itemTotal

        a.btn.btn-success.checkout(href='/cart-checkout/' + activeuser.userId) Checkout: #{total}



    h1 #{activeuser.userName}'s Previous Purchases
    .table-responsive
        table.table-striped
            thead
                th #
                th Name
                th Total Amount
                th Purchased Date
                th Delivered Date
            each post, p in purchases
                tr
                    td= p+1
                    td= post.name
                    td= post.amt
                    td= post.pdate