extends admin-layout
block content
    h2 #{title}
    form(action='/user/edit/'+user.id, method="POST")
        #form-group
            Label User ID
            input.form-control(name="id", type="text", value=user.id, disabled)
        #form-group
            Label First Name
            input.form-control(name="id", type="text", value=user.first)
        #form-group
            Label Last Name
            input.form-control(name="id", type="text", value=user.last)
        #form-group
            Label Wallet
            input.form-control(name="id", type="text", value=user.wallet)
        input.btn.btn-primary(type="submit", value="Submit")