extends admin-layout
block content
    h2 #{title}
    form(action='/inventory/edit/'+item.itemId, method="POST")
        #form-group
            Label Item ID
            input.form-control(name="id", type="text", value=item.itemId, disabled)
        #form-group
            Label Item Name
            input.form-control(name="name", type="text", value=item.itemName)
        #form-group
            Label(for=sel) Brand
            select.form-control(name="brand", type="text" id=sel selected=item.brandId)
                option ADID
                option FARB
                option HLGR
                option NIKE
                option PTGA
                option SONY
                option TSBA
                option N/A

        #form-group
            Label(for=sel2) Department
            select.form-control(name="dept", type="text" id=sel2 selected=item.departmentId)
                option CLO
                option HME
                option BKS
                option ELE
                option ATO
                option MUS
                
        #form-group
            Label Price
            input.form-control(name="price", type="text", value=item.price)
        input.btn.btn-primary(type="submit", value="Submit")
    