extends admin-layout
block content
    h2 #{title}
    form(action='/user/edit/'+user.userId, method="POST")
        #form-group
            Label User ID
            input.form-control(name="id", type="text", value=user.userId, disabled)
        #form-group
            Label First Name
            input.form-control(name="first", type="text", value=user.firstName)
        #form-group
            Label Last Name
            input.form-control(name="last", type="text", value=user.lastName)
        #form-group
            Label Wallet
            input.form-control(name="wallet", type="text", value=user.wallet)
        input.btn.btn-primary(type="submit", value="Submit")