extends admin-layout
block content
    h2 #{title}
    form(action='/order/edit/'+order.purchaseId, method="POST")
        #form-group
            Label Purchase ID
            input.form-control(name="purchaseId", type="text", value=order.purchaseId, disabled)
        #form-group
            Label Item ID
            input.form-control(name="itemId", type="text", value=order.itemId disabled)
        #form-group
            Label Quantity
            input.form-control(name="qty", type="text", value=order.quantity)
        #form-group
            Label Purchased Date
            input.form-control(name="pdate", type='text', value=order.purchaseDate)
        #form-group
            Label Delivered Date
            input.form-control(name="ddate", type='text', value=order.deliveryDate)
        input.btn.btn-primary(type="submit", value="Submit")