extends layout

block content
	div.jumbotron
		h1 Register
		p Enter your information below to create your account!

	div.form-group
		input(
			type="firstName"
			id="inputFirstName"
			class="form-control"
			placeholder="First Name"
			style="width: 200px"
		)
		input(
			type="lastName"
			id="inputLastName"
			class="form-control"
			placeholder="Last Name"
			style="width: 200px"
		)
		input(
			type="email"
			id="inputEmail"
			class="form-control"
			placeholder="Email address"
			style="width: 200px"
		)
		input(
			type="password"
			id="inputPassword"
			class="form-control"
			placeholder="Password"
			style="width: 200px"
		)

	div.btn-group
		a(href="#" id="btnRegister" class="btn btn-primary") Register