extends layout

block content
	div.jumbotron
		h1 Register
		h3
			center Enter your information below to create an account!

	div.form-group
		form(
			method="post"
			action="/register"
		)
			input(
				type="firstName"
				name="inputFirstName"
				class="form-control"
				placeholder="First Name"
				style="width: 200px"
			)
			input(
				type="lastName"
				name="inputLastName"
				class="form-control"
				placeholder="Last Name"
				style="width: 200px"
			)
			input(
				type="email"
				name="inputEmail"
				class="form-control"
				placeholder="Email address"
				style="width: 200px"
			)
			input(
				type="password"
				name="inputPassword"
				class="form-control"
				placeholder="Password"
				style="width: 200px"
			)
			input(
				type="submit"
			)

	//div.btn-group
		button(id="btnRegister" class="btn btn-primary" type="submit") Register