extends layout

block content
	div.jumbotron
		h1 Register
		p Enter your information below to create your account!

	div.form-group
		input(
			type="firstName"
			id="inputFirstName"
			class="form-control"
			placeholder="First Name"
		)
		input(
			type="lastName"
			id="inputLastName"
			class="form-control"
			placeholder="Last Name"
		)
		input(
			type="email"
			id="inputEmail"
			class="form-control"
			placeholder="Email address"
		)
		input(
			type="password"
			id="inputPassword"
			class="form-control"
			placeholder="Password"
		)