extends layout

block content
	div.jumbotron
		h1 Register
		h3
			center Enter your information below to create an account!

	div.form-group
		form(
			method="post"
			action="/register"
		)
			input.wide(
				type="firstName"
				name="inputFirstName"
				class="form-control"
				placeholder="First Name"
				
			)
			input.wide(
				type="lastName"
				name="inputLastName"
				class="form-control"
				placeholder="Last Name"
				
			)
			input.wide(
				type="userName"
				name="inputUserName"
				class="form-control"
				placeholder="User Name"
				
			)
			input.wide(
				type="email"
				name="inputEmail"
				class="form-control"
				placeholder="Email address"
				
			)
			input.wide(
				type="password"
				name="inputPassword"
				class="form-control"
				placeholder="Password"
				
			)
			input.btn.btn-primary(type="submit", value="Register!")