extends layout

block content
	h1 Sign In
	div.form-group
		input(
			type="email"
			id="inputEmail"
			class="form-control"
			placeholder="Email address"
			style="width: 200px"
		)
		input(
			type="password"
			id="inputPassword"
			class="form-control"
			placeholder="Password"
			style="width: 200px"
		)

	div.btn-group
		a(href="#" id="btnLogin" class="btn btn-primary") Login